{% extends 'base.html' %}

{% block contenido %}

<div class="jumbotron">
    <h2 class="display-4 text-center">
    Este proyecto lo hicimos gracias a lo aprendido en el curso de Coderhouse y las tareas las dividimos de la siguiente manera </h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFXvcjsFv6zPg/profile-displayphoto-shrink_200_200/0/1557585997405?e=1661990400&v=beta&t=i9UJZ9X5v5jdd0Gsk1y3Ek0QI5tT_g8kbJIuKy_q4Fg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Leandro Frattini</h5>
          <p class="card-text">En este proyecto me enfoque a que todos las funciones de la pagina queden perfectamente operativas sin que nada falle, tratando siempre de que todo lo que escribiamos
            funcione. Trabajamos a la par con ambos compañeros mediante numerosas reuniones en Google Meet para que el proyecto salga lo mejor posible y tener una nota optima. Si todavia no viste mi perfil te invito a que vayas!
           <br><p></p>
           <a class="btn btn-danger btn-lg-text-center" href="/leandro/" role="button">Visita mi Perfil</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>

{%endblock%}