{% extends 'base.html' %}

{% block titulo %}

{% endblock %}

{% block contenido %}

<div class="row p-3 container-fluid-expand-lg  text-white text-center p-3" style="background: rgb(0, 0, 0);">
    <p class="h5 text-center"> Este proyecto fue creado por: </p>
<br>
    <div class="d-flex" style="margin-top:3rem; margin-left:4rem">
    <div class="card" style="background: rgb(0, 0, 0); width: 18rem; margin-left: 10rem: margin-right: 10rem">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFXvcjsFv6zPg/profile-displayphoto-shrink_200_200/0/1557585997405?e=1661990400&v=beta&t=i9UJZ9X5v5jdd0Gsk1y3Ek0QI5tT_g8kbJIuKy_q4Fg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Leandro Frattini</h5>
          <p class="card-text">Agente Maritimo Semi Senior <br> Futuro Backend Developer. <br> Apasionado por la Tecnologia.
          </p>
          <a href="#" class="btn btn-success">Chequear Perfil!</a>
        </div>
      </div>
    </div>

    
    <div class="d-flex" style="margin-top:3rem; margin-left:4rem">
      <div class="card" style="background: rgb(0, 0, 0); width: 18rem;">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQG0MJteNDb6Lg/profile-displayphoto-shrink_200_200/0/1645013272747?e=1661990400&v=beta&t=BDni0rPDBcQjYdSNr8c737VIh8-w3zmpx70pc6PRNus" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Luciano Suarez</h5>
          <p class="card-text">Tecnico superior en Programación <br> Coordinador de Logistica</p>
          <a href="#" class="btn btn-success">Chequear Perfil!</a>
        </div>
      </div>
    </div>
    
    <div class="d-flex" style="margin-top:3rem; margin-left:4rem">
      <div class="card" style="background: rgb(0, 0, 0); width: 18rem;">
        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGyBlSOMnRseg/profile-displayphoto-shrink_200_200/0/1645668935708?e=1661990400&v=beta&t=SW_PmfxG0hxEspoYV1mxJ7F88u6Gm20wvLx4UUHnbYc" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lautaro Valdez</h5>
          <p class="card-text">Tecnico Electromecanico <br> Web Developer Jr.</p>
          <a href="#" class="btn btn-success">Chequear Perfil!</a>
        </div>
      </div>
    </div>

{% endblock %}