{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}
<h1 style="margin-left:30rem">Estos son los detalles de nuestros celulares</h1>

<a style="margin-left:50rem" href="/celulares/" class="btn btn-primary">Volver atras!</a>

{{message}}

<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{detalle_celulares.name}}</h5>
            <p class="card-text">Precio: {{detalle_celulares.price}}</p> 
            <p class="card-text">Pulgadas: {{detalle_celulares.inches}}</p> 
            <p class="card-text">Descripcion: {{detalle_celulares.description}}</p> 
            <p class="card-text">SKU: {{detalle_celulares.SKU}}</p> 
            <a href="/editar_celular/{{detalle_celulares.id}}/" class="btn btn-primary">Editar</a>
            {%if request.user.is_authenticated and request.user.is_superuser%}
            <a href="/eliminar_celular/{{detalle_celulares.id}}/" class="btn btn-primary">Eliminar</a>
            {%endif%}
        </div>
    </div>

<br>



{% endblock %}

