{% extends 'base.html' %}

{% block titulo %}
Productos
{% endblock %}


{% block contenido %}

<br>
<h1 class="text-center col">Elija su Heladera</h1>

{{message}}

<form class="form-inline my-5 my-lg-0  col" action="/crear_heladera/" method="GET">
    <button style="margin-left:43rem" class="btn btn-primary" type="submit">Cree su propia Heladera</button>
</form>

    {% for heladera in heladeras %}

    <div class="d-flex" style="margin-top:3rem; margin-left:4rem">
    <div class="card " style="width: 20rem ">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body ">

            <h5 class="card-title text-center">{{heladera.name}}</h5>
            <p class="card-text ">Precio: {{heladera.price}}</p>
            <a href="/detalle_heladeras/{{heladera.id}}/" class="btn btn-outline-success">Ver mas!</a>

        </div>
    </div>
</div>

<br>
{% endfor %}


{% endblock %}
