{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}
<h1 style="margin-left:30rem">Estas son nuestras heladeras</h1>

<form class="form-inline my-2 my-lg-0" action = "/celulares/" method = "GET">
    <button style="margin-left:40rem" class="btn btn-primary" type="submit">Cree su propia heladera</button>
</form>

{{message}}

<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for heladera in heladeras %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{heladera.name}}</h5>
            <p class="card-text">Precio: {{heladera.price}}</p>
            <p class="card-text">Litros: {{heladera.litters}}</p>
            <p class="card-text">Descripcion: {{heladera.description}}</p>
            <p class="card-text">SKU: {{heladera.SKU}}</p>
            <a href="/list_products/" class="btn btn-primary">Ver mas!</a>
        </div>
    </div>

    {% endfor %}


{% endblock %}