{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}

<h1 style="margin-left:30rem">Aca va el contenido del Producto buscado</h1>

{{message}}

<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for producto in productoheladeras %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{producto.name}}</h5>
            <p class="card-text">{{producto.description}}</p>
            <p class="card-text">{{producto.price}}</p>
            <a href="/detalle_heladeras/{{producto.id}}/" class="btn btn-primary">Ver mas!</a>
        </div>
    </div>

    {% endfor %}

    {% for producto in productocel  %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{producto.name}}</h5>
            <p class="card-text">{{producto.description}}</p>
            <p class="card-text">{{producto.price}}</p>
            <a href="/detalle_celulares/{{producto.id}}/" class="btn btn-primary">Ver mas!</a>
        </div>
    </div>

    {% endfor %}

    {% for producto in productotv  %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{producto.name}}</h5>
            <p class="card-text">{{producto.description}}</p>
            <p class="card-text">{{producto.price}}</p>
            <a href="/detalle_televisores/{{producto.id}}/" class="btn btn-primary">Ver mas!</a>
        </div>
    </div>
<br>

    {% endfor %}


{% endblock %} <br>

