{% extends 'base.html' %}

{% block titulo %}
Productos
{% endblock %}

{% block contenido %}
<br>
<h1 class="text-center col">Elija su Televisor</h1>

<form class="form-inline my-2 my-lg-0" action="/crear_televisor/" method="GET">
    <button style="margin-left:43rem" class="btn btn-primary" type="submit">Cree su propio Televisor</button>
</form>

{{message}}


    {% for televisor in televisores %}

    <div class="d-flex" style="margin-top:3rem; margin-left:4rem">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{televisor.name}}</h5>
            <p class="card-text">Precio: {{televisor.price}}</p>
            <a href="/detalle_televisores/{{televisor.id}}/" class="btn btn-primary">Ver mas!</a>
        </div>
    </div>
</div>

<br>
{% endfor %}


{% endblock %}