{% extends 'base.html' %}

{% block titulo %}
Productos
{% endblock %}

{% block contenido %}
<h1 style="margin-left:30rem">Estos son nuestros televisores</h1>

<form class="form-inline my-2 my-lg-0" action="/crear_televisor/" method="GET">
    <button style="margin-left:40rem" class="btn btn-primary" type="submit">Cree su propio Televisor</button>
</form>

{{message}}

<div class="d-flex" style="margin-top:5rem; margin-left:7rem">
    {% for televisor in televisores %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{televisor.name}}</h5>
            <p class="card-text">Precio: {{televisor.price}}</p>
            <a href="/detalle_televisores/{{televisor.id}}/" class="btn btn-primary">Ver mas!</a>
        </div>
    </div>
</div>
    {% endfor %}


    {% endblock %}